* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
}

/* Header  */
.head {
    text-align: center;
    background-color: gold;
    color: white;
}

/* Navigation Bar  */
nav {
    background-color: brown;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    display: block;
}

.login {
    float: right;
}


nav ul li a:hover {
    background-color: rgb(128, 34, 34);
}

.active {
    background-color: rgba(255, 217, 0, 0.856);
}

/* Header  */
.homeimage img {
    width: 100%;
}

/* Section  */
.imgdiv img {
    width: 100%;
}

.imgdiv {
    width: 50%;
    float: left;
}

.textdiv {
    width: 50%;
    float: left;
    padding: 20px;
    font-size: 20px;
    word-spacing: 3px;
    line-height: 40px;
}

.title {
    text-align: center;
    color: gold;
}

.text {
    color: white;
    text-align: justify;
}

section::after {
    content: "";
    clear: both;
    display: table;
}

/* Footer Start */
footer {
    background-color: brown;
}

/* Business Hour  */
.business {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 20px;
}

/* Social Media  */
.social {
    text-align: center;
    margin-top: 10px;
}

.icon {
    text-align: center;
}

.fa-facebook {
    color: rgb(24, 24, 124);
}

.fa-instagram {
    color: rgb(209, 129, 143);
}

.fa-twitter {
    color: skyblue;
}

.fa-youtube {
    color: red;
}

/* Copyright  */
.copyright {
    text-align: center;
    margin-top: 20px;
}

.name {
    color: rgb(235, 210, 68);
}

/* Footer End  */